name: Integration

on:
  pull_request:
  workflow_call:

env:
  FLUTTER_VERSION: '3.16.7'

jobs:
  lint:
    name: Check for linting or typing errors
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install the project
        uses: dronetag/gha-shared/.github/actions/flutter-install@master
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Run code analysis
        run: flutter analyze --no-fatal-infos

  # test:
  #   name: Run unit tests suite
  #   runs-on: ubuntu-22.04
  #   timeout-minutes: 5
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3
  #     - name: Install the project
  #       uses: dronetag/gha-shared/.github/actions/flutter-install@master
  #       with:
  #         flutter-version: ${{ env.FLUTTER_VERSION }}
  #     - name: Run test suite
  #       run: flutter test -r expanded